@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 80 56% 96%;
    --foreground: 120 25% 25%;
    --card: 0 0% 100%;
    --card-foreground: 120 25% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 120 25% 25%;
    --primary: 90 55% 45%;
    --primary-foreground: 90 60% 98%;
    --secondary: 80 40% 90%;
    --secondary-foreground: 120 25% 25%;
    --muted: 80 40% 90%;
    --muted-foreground: 120 25% 45%;
    --accent: 80 94% 96%;
    --accent-foreground: 90 55% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 80 20% 85%;
    --input: 80 20% 90%;
    --ring: 124 39% 45%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 120 25% 10%;
    --foreground: 80 60% 98%;
    --card: 120 25% 15%;
    --card-foreground: 80 60% 98%;
    --popover: 120 25% 15%;
    --popover-foreground: 80 60% 98%;
    --primary: 90 55% 55%;
    --primary-foreground: 90 25% 10%;
    --secondary: 120 25% 20%;
    --secondary-foreground: 80 60% 98%;
    --muted: 120 25% 20%;
    --muted-foreground: 80 60% 70%;
    --accent: 80 94% 16%;
    --accent-foreground: 90 55% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 25% 25%;
    --input: 120 25% 25%;
    --ring: 90 55% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
